{% extends 'base.html' %}

{% block main %}
  <form id="login-form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.error }}

      {{ form.password.label_tag }}
      {{ form.password }}
      {{ form.password.error }}
      <input id="login-submit" type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
  </form>

  {% if form.errors %}
    <div class="form-errors">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}
{% endblock %}