{% extends 'base.html' %}

{% block main %}
  <form method="post" action="{% url 'login' %}" id="login-form">
    <div class="login-details">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.error }}

      {{ form.password.label_tag }}
      {{ form.password }}
      {{ form.password.error }}
      <div class="submit-details">
        <input id="login-submit" type="submit" value="Login" />
      </div>
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </div>
  </form>

  {% if form.errors %}
    <div class="form-errors">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}
{% endblock %}