{% extends 'base.html' %}

{% block main %}
  {% if ingredient %}
    <h3>{{ ingredient.name }} ({{ ingredient.type }})</h3>
    <p>{{ ingredient.description }}</p>
  {% else %}
    No such ingredient found! Strange!
  {% endif %}

  <h3>Recipes that use this ingredient:</h3>
  <ul>
    {% for recipe in recipes %}
      <li><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></li>
    {% empty %}
      <li>This ingredient is not used in any recipes!</li>
    {% endfor %}
  </ul>
{% endblock %}