{% extends 'base.html' %}

{% block main %}
  <div class="ingredient-info">
    {% if ingredient %}
      <div class="ingredient-title">
        <h3>{{ ingredient.name }}</h3>
      </div>
      <h4>{{ ingredient.type }}</h4>
      {% if ingredient.description %}
        <p>{{ ingredient.description }}</p>
      {% else %}
        <p>No description available. Truly unlucky day!</p>
      {% endif %}
    {% else %}
      <p>No such ingredient found! Strange!</p>
    {% endif %}
  </div>

  {% include 'four_recipes.html' %}

{% endblock %}