/* ********* */
/* base.html */
/* ********* */

* {
    margin: 0;
}

html, body {
    height: 100%
}

header {
    background: white;
    position: fixed;
    height: 30px;
    width: 100%;
    top: 0;
}

footer {
    background: red;
    /*position: relative;*/
    height: 30px;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.push {
    height: 30px;
}

#copyright {
    margin: 0;
    width: 100%;
    height:100%;
    text-align: center;
    line-height: 30px;
}

main {
    width: 97%;
    min-height: 100%;
    padding: 15px;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    margin: +30px auto -30px auto;
    text-align: justify;
}

/*Problem: padding/margin is still white if background is applied.*/
/*Problem: if there is no text, header is not at the bottom of the page.*/

/*Useful colours: */
/*#ACF3FA*/
/*#B3D7E3*/
/*#5F8689*/


/* ************ */
/* recipes.html */
/* ************ */

#author {
    font-style: italic;
}