/* ******************************************************** */
/* ********************** base.html *********************** */
/* ******************************************************** */

* {
    margin: 0;
}

html, body {
    height: 100%
}

/* ************************ FONTS ************************* */

body {
    font-family: 'Raleway', serif;
    text-align: justify;
    line-height: 25px;
    font-size: 16px;
}

nav {
    font-family: 'Lato', serif;
    text-transform: uppercase;
    font-size: 17px;
}


/* ************************ HEADER ************************ */

header {
    background: white;
    position: fixed;
    height: 53px;
    width: 100%;
    top: 0;
    border-bottom: solid 1px black;
}

/* ********************* HEADER INSIDES ******************* */

nav>ul, nav>li {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float:left;
}

nav li a {
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav li a:hover {
    background-color: #e6e6e6;
}

ul.navigation-other {
    float: right;
}

li.navigation-home {
    float:left;
}

/* DELETE LATER */
#welcome-user {
    display: block;
    text-align: center;
    padding: 14px 16px;
    float: left;
}

/* ************************ FOOTER ************************ */

footer {
    /*position: relative;*/
    height: 50px;
    width: 100%;
    border-top: solid black 2px;
    /*bottom: 0;*/
    /*margin: 0;*/
}

.push {
    height: 30px;
}

#copyright {
    /*margin: 0;*/
    width: 100%;
    height:100%;
    line-height: 30px;
}

/* ********************* FOOTER INSIDES ******************* */

#copyright {
    text-align: center;
}

#copyright>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#copyright li {
    display: inline;
}

/* ************************* MAIN ************************* */

main {
    width: 97%;
    min-height: 100%;
    padding: 15px;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    margin: +58px auto -30px auto;
    text-align: justify;
}

/*
1. Padding/margin is still white if background is applied.
2. Footer is not at the bottom of the screen when there is no text.
   Need to scroll to see it.
*/

/*Useful colours: */
/*#ACF3FA*/
/*#B3D7E3*/
/*#5F8689*/


/* ******************************************************** */
/* ******************** recipes.html ********************** */
/* ******************************************************** */

#author {
    font-style: italic;
}