* {
    margin: 0;
}

header, footer, nav, article {
    display: block;
}

#page {
    max-width: 1200px;
    min-width: 600px;
    margin: 20px auto 20px auto;
    border: 2px solid black;
    background-position: center;
    background: white;
}

ul, li {
    list-style-type: none;
    padding: 0;
}
/* ==== */
/* Body */
/* ==== */

body {
    font-family: 'Raleway', serif;
    line-height: 1.6em;
    font-size: 16px;
}


/*==============*/
/*Navigation bar*/
/*==============*/

nav {
    font-family: 'Lato', serif;
    text-transform: uppercase;
    font-size: 20px;
}

nav li {
    display: inline;
    list-style-type: none;
}

ul .left {
    display: inline;
    float: right;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
    transition: all 1s ease;
    color: #2F4F4F;
}

nav li a:hover {
    color: #ccc;
}

@media screen and (max-width: 600px) {
    /* ============== */
    /* Navigation bar */
    /* ============== */

    nav li, ul .left {
        display: block;
        float: none;
    }

    nav li {
        text-align: center;
        border-bottom: 1px solid #aaaaaa;
    }
}



/*#navigation-bar {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
/*}*/

/*#navigation-bar li {*/
    /*float: left;*/
/*}*/

/*#navigation-bar li a {*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*text-decoration: none;*/
    /*transition: 0.3s;*/
    /*font-size: 17px;*/
/*}*/

/*#navigation-bar li:not(#home) {*/
    /*float: right;*/
/*}*/

