* {
    margin: 0;
}

header, footer, nav, article {
    display: block;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

/* ================== */
/*      Main body     */
/* ================== */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 16px;
}

main {
    padding: 30px 40px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin: 76px 0 46px 0;
    font-size: 40px;
    padding-bottom: 20px;

    background: linear-gradient(black, black) bottom no-repeat;
    background-size: 50% 2px;
}


.top-three {
    overflow: hidden;
    text-align: center;
}

.three {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: 33%;
    min-width: 228px;
    height: 300px;
    overflow: hidden;
    padding: 16px 14px 16px 14px;
}

.three p {
    text-align: justify;
    text-overflow: ellipsis;
}

.three img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}



@media all and (max-width: 771px) {
    .top-three {
        float: none;
    }

    .top-three h2 {
        text-align: center;
    }

    .three {
        width: 100%;
        height: 400px;
    }

    .three img {
        max-width: 400px;
        max-height: 400px;
        width: 100%;
        height: auto;
    }
}


/* ==================== */
/*    Navigation bar    */
/* ==================== */

nav {
    background-color: #009999;
    font-family: 'Lato', serif;
    text-transform: uppercase;
    font-size: 20px;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;

}

nav li {
    float: right;
}

nav li#home {
    float: left;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 24px 26px;
    transition: all 0.5s ease;
    color: ghostwhite;
}

nav li a:hover {
    color: #2F4F4F;
}



@media screen and (max-width: 600px) {
    nav li {
        border-bottom: 1px solid #aaaaaa;
    }

    nav li#home, nav li {
        float: none;
    }
}


/* ================== */
/*   Footer insides   */
/* ================== */

footer {
    border-top: 2px solid darkgrey;
    text-align: center;
    margin: 10px 2% 0 2%;
}

#copyright {
    line-height: 30px;
    font-size: 12px;
}

#copyright li {
    display: inline;
    padding: 0 3px;
}

#copyright img[alt="Github icon"] {
    width: 28px;
    height: 28px;
}

.footer-links {
    padding-top: 5px;
}
