* {
    margin: 0;
}

header, footer, nav, article {
    display: block;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

/* ================== */
/*      Main body     */
/* ================== */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 16px;
}

main {
    padding: 30px 40px;
}

h2, h3 {
    text-align: center;
}

h2 {
    min-width: 300px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin: 76px 0 46px 0;
    font-size: 40px;
    padding-bottom: 20px;

    background: linear-gradient(black, black) bottom no-repeat;
    background-size: 50% 2px;
}

h3 {
    padding: 20px 0;
}

.top-four:before, .top-four:after {
    content: " ";
    display: table;
}

.top-four:after {
    clear: both;
}

.four {
    box-sizing: border-box;
    padding: 16px 18px 16px 18px;
    display: block;
    float: left;
    width: 25%;
    /*height: 300px;*/
}

.four p {
    text-align: justify;
    text-overflow: ellipsis;
}

.four img {
    /*object-fit: contain;*/
    /*max-width: 100%;*/
    /*width: auto;*/
    /*height: 100%;*/
    /*display: block;*/
    /*margin: auto;*/
}

.img-wrapper {
    /*width: inherit;*/
    height: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1000px) {
    .four {
        width: 50%;
        padding-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .four {
        width: 100%;
        min-width: 250px;
    }

    .top-four {
        width: 100%;
    }
}


/* ==================== */
/*    Navigation bar    */
/* ==================== */

nav {
    background-color: #009999;
    font-family: 'Lato', serif;
    text-transform: uppercase;
    font-size: 20px;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;

}

nav li {
    float: right;
}

nav li#home {
    float: left;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 24px 26px;
    transition: all 0.5s ease;
    color: ghostwhite;
}

nav li a:hover {
    color: #2F4F4F;
}



@media (max-width: 600px) {
    nav li {
        border-bottom: 1px solid #aaaaaa;
    }

    nav li#home, nav li {
        float: none;
    }
}


/* ================== */
/*   Footer insides   */
/* ================== */

footer {
    border-top: 2px solid darkgrey;
    text-align: center;
    margin: 10px 2% 0 2%;
}

#copyright {
    line-height: 30px;
    font-size: 12px;
}

#copyright li {
    display: inline;
    padding: 0 3px;
}

#copyright img[alt="Github icon"] {
    width: 28px;
    height: 28px;
}

.footer-links {
    padding-top: 5px;
}
