{% extends 'base.html' %}

{% block main %}
    {% if fridge %}
        <h2>{{ fridge.user }}'s fridge</h2>
        <br/><br/>
        {% if ingredients %}
            <h3>Ingredients in the fridge:</h3>
            <ul>
                {% for ingredient in ingredients %}
                    <li>
                        {{ ingredient.quantity }} {{ ingredient.unit.abbrev }}
                        of
                        <a href="{{ ingredient.ingredient.get_absolute_url }}">
                            {{ ingredient.ingredient }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            There are no ingredients in the fridge. Perhaps it is time to do
            some shopping..?
        {% endif %}
    {% else %}
        No fridge was found. That is strange!
    {% endif %}
{% endblock %}