{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Cookme</title>
  {% block mainstyle %}
    <!-- In case the main stylesheet need to be overwritten. -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% endblock %}

  {% block stylesheets %}
    <!-- Put any additional stylesheets, JS, etc here. -->
  {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">
  <header>
    <nav>
      <ul>
        <li id="home"><a href="{% url 'home' %}">Cookme</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'fridge:fridge_detail' %}">Fridge</a></li>
        {% else %}
          <!-- Hiding links when clicked on them avoids the problem of
          redirection to the same page. -->
          {% url 'login' as login_url %}
          {% url 'register' as register_url %}
          {% if request.path != login_url %}
            <li><a href="{% url 'login' %}?next={{ request.path|urlencode }}">Login</a></li>
          {% endif %}
          {% if request.path != register_url %}
            <li><a href="{% url 'register' %}?next={{ request.path|urlencode }}">Register</a></li>
          {% endif %}
        {% endif %}
        <li><a href="{% url 'recipes:recipes' %}">Recipes</a></li>
      </ul>
    </nav>

    {% block header %}
    {% endblock %}
  </header>

  <main>
    {% block main %}{% endblock %}
  </main>

  <footer>
    <div id="copyright">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
      <p>No copyright whatsoever.</p>
      <ul class="footer-links">
        <li>
          <!-- Linebreak after <a> adds underscore... -->
          <a href="https://github.com/vilisimo/cookme" target="_blank">
            <img src="{% static 'files/icons/github32x32.png' %}" alt="Github icon"/>
          </a>
        </li>
        <li>
          <a href="https://uk.linkedin.com/in/simonasviliunas" target="_blank">
            <img src="{% static 'files/icons/linkedin37x28.png' %}" alt="LinkedIn icon"/>
          </a>
        </li>
      </ul>
    </div>
    {% block footer %}
    {% endblock %}
  </footer>
</body>

</html>