{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cookme</title>
    {% block mainstyle %}
        <!-- In case the main stylesheet need to be overwritten. -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% endblock %}

    {% block head %}
        <!-- Put any additional stylesheets, JS, etc here. -->
    {% endblock %}

</head>

<body>
    <header>

        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'recipes:recipes' %}">Recipes</a>
            <!-- Here should be a link to user's fridge (on the right side). -->
            {% if user.is_authenticated %}
                <a href="{% url 'fridge:fridge_detail' %}">Fridge</a>
                <a href="{% url 'logout' %}">Logout</a>
                Welcome, {{ user.username }}
            {% else %}
                <!-- Hiding links when clicked on them avoids the problem of
                redirection to the same page. -->
                {% url 'login' as login_url %}
                {% if request.path != login_url %}
                    <a href="{% url 'login' %}?next={{ request.path|urlencode }}">Login</a>
                {% endif %}
                {% url 'register' as register_url %}
                {% if request.path != register_url %}
                    <a href="{% url 'register' %}?next={{ request.path|urlencode }}">Register</a>
                {% endif %}
            {% endif %}
        </nav>

        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block main %}
        <!-- Here goes the search form. -->
        {% endblock %}
        <!-- Find out a cleaner way to have a gap between main body and foot -->
        <div class="push"></div>
    </main>

    <footer>
        <div id="copyright">
            Footer
        </div>
        {% block footer %}
        {% endblock %}
    </footer>

</body>

</html>