<div class="four-recipes">
  {% for recipe in recipes %}
    <div class="four">
      <a href="{{ recipe.get_absolute_url }}">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" />
        <h3>{{ recipe.title }}  <br/>by <span id="author">{{ recipe.author }}</span></h3>
      </a>
      {% if user.is_authenticated and recipe not in user.fridge.recipes.all %}
        <a href="{% url 'recipes:add_to_fridge' recipe.pk %}" class="add-fridge">
          <div class="add-fridge-icon" title="Add to your fridge"></div>
        </a>
      {% endif %}
    </div>
  {% empty %}
    <p>There are no recipes. Why not be the first one to
      <a href="{% url 'fridge:add_recipe' %}">add</a> one?
    </p>
  {% endfor %}
</div>

<div class="current">
  <span class="pages">
    {% if recipes.has_previous %}
      <a href="?page={{ recipes.previous_page_number }}">previous</a>
    {% endif %}

      Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}

    {% if recipes.has_next %}
      <a href="?page={{ recipes.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>