{% extends 'base.html' %}

{% block main %}
    {% if recipes %}
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="{{ recipe.get_absolute_url }}">
                        {{ recipe.title }} by <span id="author">{{ recipe.author }}</span>
                    </a>
                    <!-- Remove when working on CSS-->
                    &nbsp
                    <a href="{% url 'recipes:add_to_fridge' recipe.pk %}">
                        Add
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You do not have any recipes.</h3>
        <p>Please go and cook something!</p>
    {% endif %}
{% endblock %}