{% extends 'base.html' %}

{% block main %}

    <h1>{{ title }}</h1>
    <hr>
    <div class="recipe-description">
{#        <h3>Description:</h3>#}
        <!-- Two new lines become <p>. Do not forget to apply styles.-->
        {{ description|linebreaks }}
    </div>

    <div class="recipe-additional-information">
        <ul>
            <li>Cuisine: {{ cuisine }}</li>
            <li>Views: {{ views }}</li>
            <li>Uploaded by {{ author }} on {{ date|date:'d F Y' }}</li>
        </ul>
        {% if user.is_authenticated %}
            <a href="{% url 'recipes:add_to_fridge' pk %}">
                Add to the Fridge
            </a>
        {% endif %}
    </div>



    <div class="recipe-process">
        <h3>Process</h3>
        <!-- Style paragraphs with CSS, so that there is some space between. -->
        {% for step in steps %}
            <p class="recipe-step">{{ step }}</p>
        {% endfor %}
    </div>



    <h4>Image</h4>
    Surround with img tag: {{ image.url }}

    <h2>Ingredients</h2>
    {% if ingredients %}
        <ul>
            {% for ingredient in ingredients %}
                <li>
                    {{ ingredient.quantity }}
                    {{ ingredient.unit.abbrev }}
                    of
                    {{ ingredient.ingredient }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>The recipe does not seem to have any ingredients!</p>
    {% endif %}


    <a href="{% url 'recipes:recipes' %}">Back to recipes</a>

{% endblock %}