{% extends 'base.html' %}

{% block main %}
    <!-- Breaks between should be handled with styling -->
    <h2>{{ title }}</h2>
    Uploaded by: {{ author }} on {{ date }}

    <h3>Description:</h3>
    <p>{{ description }}</p>

    <h4>Views</h4>
    {{ views }}

    <br />surround with img tag: {{ image.url }}

    <h2>Ingredients</h2>
    {% if ingredients %}
        <ul>
            {% for ingredient in ingredients %}
                <li>
                    {{ ingredient.quantity }}
                    {{ ingredient.unit.abbrev }}
                    of
                    {{ ingredient.ingredient }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>The recipe does not seem to have any ingredients!</p>
    {% endif %}


    <a href="{% url 'recipes:recipes' %}">Back to recipes</a>

{% endblock %}