{% extends 'base.html' %}

{% block main %}


  <img src="{{ image.url }}" alt="{{ recipe.title }}"/>
  <h1>{{ title }}</h1>
  <hr>

  <!-- Note: two new lines result in addition of <p>*text*</p>. -->
  <div class="recipe-description">
    {{ description|linebreaks }}
  </div>

  <!-- Links are not really an additional information. Do I need these divs
   at all? UL should be enough, on one hand. On the other, easier to style
   when everything's thrown in the same box. -->
  <div class="recipe-additional-information">
    <ul>
      <li>{{ cuisine }}</li>
      <li>Views: {{ views }}</li>
      <li>Uploaded by {{ author }} on {{ date|date:'d F Y' }}</li>
    </ul>

    <ul class="recipe-links">
      <li>
        {% if user.is_authenticated %}
          <a href="{% url 'recipes:add_to_fridge' pk %}">
            Add to the Fridge
          </a>
         {% endif %}
      </li>
      <li>
        <a href="{% url 'recipes:recipes' %}">Back to Recipes</a>
      </li>
    </ul>
  </div>

  <div class="recipe-essentials">
    <div class="recipe-ingredients">
      <h2>Ingredients</h2>
      {% if ingredients %}
        <ul>
          {% for ingredient in ingredients %}
            <li>
              {{ ingredient.quantity }}
              {{ ingredient.unit.abbrev }}
              of
              {{ ingredient.ingredient }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>The recipe does not seem to have any ingredients!</p>
      {% endif %}
    </div>

    <div class="recipe-process">
      <h2>Process</h2>
      <!-- Style paragraphs with CSS, so that there is some space between. -->
      {% for step in steps %}
        <p class="recipe-step">{{ step }}</p>
      {% endfor %}
    </div>
  </div>

{% endblock %}